/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .logo {
  width: 80px; /* Set the width as desired */
  height: auto; /* Maintain aspect ratio */
}

/* Add this to your application.css or equivalent stylesheet */
.logout-form button.logout-link {
  background: none!important;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  box-shadow: none!important; /* This removes any box-shadow */
  padding-left: 15px; /* Add padding as needed */
  padding-top: 8px;
}

.logout-form button.logout-link:hover,
.logout-form button.logout-link:focus {
  background: none!important;
  box-shadow: none!important; /* Make sure to remove shadow on hover and focus */
  text-decoration: underline;
  color: #535353; /* Or any color you want */
}



 #main h2{
  text-align: center;
  color: #848484;
  font: sans-serif;
  font-size: 2em;
}


#recommended-products .card-img-top {
  height: 200px; /* Adjust as needed */
  width: auto;
  object-fit: contain;
}

#recommended-products .btn-view {
  display: inline-block;
  background-color: #029e58;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
}

#recommended-products .btn-view:hover {
  background-color: white;
  color: black;
  border: 1px solid #007bff;
}

body {
  padding-top: 150px; /* Adjust based on the actual height of your header */
}


#category .btn-sm{
  background-color: #029e58;
}


.pagination-container .pagination {
  padding: .5rem 1rem; /* Adjust padding as needed */
  margin-left: 2px; /* Space between buttons */
}

.pagination-container .pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #029e58;
  border-color: #029e58;
}

.pagination-container .pagination .page-link {
  z-index: 1;
  color: #029e58;
  background-color: #fff;
  border: 1px solid #029e58;
}


.card-img-top {
  width: 100%;   /* makes the image responsive */
  max-width: 300px; /* maximum width */
  height: auto; /* maintain aspect ratio */
  height: auto;
  margin-left: auto;  /* center the image horizontally */
  margin-right: auto; /* center the image horizontally */

}

.btn.btn-primary {
  background-color: grey;  /* Grey background */
  color: white;            /* White text */
  border-color: grey;      /* Grey border, if needed */
  text-decoration: none;   /* Remove underline */
}

.btn.btn-primary:hover {
  background-color: #029e58; /* Green background on hover */
  color: white;              /* White text on hover */
  border-color: #029e58;     /* Green border on hover */
}



/* For Webkit browsers like Chrome, Safari, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For IE10+ */
input[type="number"]::-ms-clear {
  display: none;
}
